<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
            // Inline math is wrapped in single dollar signs
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            // Block math is wrapped in double dollar signs
            displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
            processEscapes: true
          },
          // Optional: Prevents "Loading" message at the bottom
          messageStyle: "none", 
          "HTML-CSS": { availableFonts: ["TeX"] }
        });
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    </head>
<body>
    <main>
        {{ content }} 
    </main>
</body>
</html>
